[submodule "melodysmart-module-android"]
	path = melodysmart-module-android
	url = https://github.com/CMU-CREATE-Lab/melodysmart-module-android.git
	ignore = dirty
[submodule "volley-createlab-module-android"]
	path = volley-createlab-module-android
	url = https://github.com/CMU-CREATE-Lab/volley-createlab-module-android.git
	ignore = dirty
